#article-block-1 {
  background-image: url(Images/whiteface-image.png);
  background-size: cover;
}

article {
  height: auto;
  padding: 3%;
  position: relative;
  margin-top: 3%;
}

.main-article-text h2 a {
  font-family: Libre Baskerville, serif;
  font-weight: Bold;
  font-size: 25px;
  text-align: left;
  overflow: hidden;
  background: linear-gradient(to right, purple, purple 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.main-article-text h2 a:active {
  font-weight: bolder;
}

.main-article-text h2 a:hover {
  background-position: 0 100%;
}

.main-article-text figure {
  border: thin black;
  display: flex;
  flex-flow: column;
  margin: auto;
}

.main-article-text img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.main-article-text figcaption {
  background-color: black;
  color: whitesmoke;
  font: italic smaller sans-serif;
  text-align: center;
}

#editor-block h1 {
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
  opacity: 1;
  text-align: center;
}

#tags-list h2 {
  font-family: Libre Baskerville;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

#tags-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tags-list li {
  grid-area: col2;
  font-family: Open Sans;
  font-weight: Regular;
  font-style: italic;
  font-size: 17px;
  opacity: 1;
  padding-bottom: 5px;
  text-align: center;
}

#tags-list li:hover {
  font-weight: bolder;
}
