@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

body {
  margin: auto;
  max-width: 1000px;
}

.fullgridcontainer {
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "mn mn mn mn mn mnsssssssssssssssssssssssssssssss"
    "ft ft ft ft ft ft";
}

header {
  grid-area: hd;
  background-color: white;
  padding-bottom: 5px;
}

nav img {
  float: left;
  object-fit: cover;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  font-size: 25px;
  color: black;
  margin: 10px;
  padding: 5px 5px;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
  cursor: pointer;
}

nav a.active {
  font-weight: bold;
}

.navigation-bar-right {
  float: right;
}

#login {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  border: 2px solid black;
}

#search-icon {
  width: 25px;
  height: 25px;
  padding-top: 20px;
}

main {
  grid-area: mn;
}

.banner-image {
  width: 980px;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#banner-featured-image {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/whiteface-banner.jpg");
  background-size: contain;
  background-repeat: round;
}

#banner-fashion-image {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/fashion-banner.jpg");
  background-size: cover;
}

#banner-finance-image {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/finance-banner.jpg");
  background-size: contain;
}

#banner-fitness-image {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/fitness-banner.jpg");
  background-size: contain;
  background-repeat: round;
}

#banner-food-image {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/food-banner.jpg");
  background-size: cover;
}

#banner-minimalism-image {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/minimalism-banner.jpg");
  background-size: cover;
}

#banner-nature-image {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/nature-banner.jpg");
  background-size: cover;
}

#banner-real-estate-image {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/real-estate-banner.jpg");
  background-size: cover;
}

#banner-technology-image {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/social-media-banner.jpg");
  background-size: cover;
}

#article-block-1 {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/whiteface-image.PNG");
  background-size: cover;
  width: 980px;
  height: 500px;
  position: relative;
  margin-top: 20px;
}

#first-article-text {
  width: 450px;
  height: 290px;
  position: absolute;
  left: 50px;
  padding: 15px;
}

.main-article-text {
  background-color: white;
  padding: 10px;
}

.main-article-text > * {
  margin: 3px;
}

.main-article-text h1 {
  font-family: Libre Baskerville, serif;
  font-weight: Bold;
  font-size: 38px;
  text-align: center;
  overflow: hidden;
}

.main-article-text h3 {
  color: gray;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 10;
  text-align: left;
}

.main-article-text h2 a {
  font-family: Libre Baskerville, serif;
  font-weight: Bold;
  font-size: 25px;
  text-align: left;
  overflow: hidden;
  background: linear-gradient(to right, purple, purple 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.main-article-text h2 a:active {
  font-weight: bolder;
}

.main-article-text h2 a:hover {
  background-position: 0 100%;
}

.main-article-text h4 {
  color: gray;
  font-family: Open Sans, sans-serif;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
  margin: 10px;
}

#heading-4-variant {
  text-align: center;
}

.main-article-text p {
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  display: inline;
}

.main-article-text p::after {
  content: "\a";
  white-space: pre-line;
}

.main-article-text:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

blockquote {
  text-indent: -0.5em;
  border-left: 30px solid lightgray;
  font-family: "Langar", cursive;
  font-size: 25px;
}
@supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  quotes: "“" "”" "‘" "’";
}

.main-article-text figure {
  border: thin black;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 450px;
  margin: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.main-article-text img {
  max-width: 450px;
  max-height: 300px;
}

.main-article-text figcaption {
  background-color: black;
  color: whitesmoke;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

#editor-block h1 {
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
  opacity: 1;
  text-align: center;
}

#article-summary-display-1 {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(3, 300px);
  grid-gap: 40px;
  justify-content: center;
}

#image-box-1 {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/minimalism-image.jpeg");
  background-size: cover;
}

#image-box-2 {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/social-media-image.png");
  background-size: cover;
}

#image-box-3 {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/reddit-crypto.jpg");
  background-size: cover;
}

#article-block-2 {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/offwhite-air-jordan-1-image.jpg");
  background-size: contain;
  width: 980px;
  height: 500px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 45px;
}

#second-article-text {
  width: 450px;
  height: 320px;
  position: absolute;
  right: 0px;
  padding: 15px;
  padding-top: 35px;
  bottom: 60px;
}

#lower-content-section {
  display: grid;
  grid-template-areas:
    "col1 col1 col2 col2"
    "col1 col1 col2 col2"
    "col1 col1 col2 col2";
}

#article-summary-display-2 {
  padding: 10px;
  display: grid;
  grid-template-columns: 200px 600px;
  grid-template-rows: repeat(4, 220px);
  grid-gap: 48px;
  justify-content: center;
}

#image-box-4 {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/paper-building-image.jpg");
  background-size: cover;
}

#image-box-5 {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/comfort-food-image.jpg");
  background-size: cover;
}

#image-box-6 {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/fitness-image.jpg");
  background-size: cover;
}

#image-box-7 {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/climate-change.jpg");
  background-size: cover;
}

#tags-list h2 {
  font-family: Libre Baskerville;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
}

#tags-list h3 {
  grid-area: col2;
  font-family: Open Sans;
  font-weight: Regular;
  font-style: italic;
  font-size: 17px;
  opacity: 1;
}

#author-section-title {
  color: darkgray;
  font-family: "Shadows Into Light", cursive;
  font-size: 40px;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
  margin: 10px;
}

.author-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#author-profile-picture {
  height: 200px;
  width: 200px;
  margin-right: 10px;
}

#author-text {
  max-width: 600px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: justify;
  margin-left: 10px;
}

#author-text h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 18px;
  text-align: left;
}
#author-text h1 span {
  font-style: italic;
}

#author-text span {
  font-weight: bold;
}

footer {
  margin-top: 30px;
  grid-area: ft;
  text-align: center;
  height: auto;
}

#social-media {
  display: flex;
  justify-content: center;
}

#social-media img {
  height: 35px;
  width: 35px;
  margin: 2px;
}

#footer-text {
  text-align: center;
  font-size: 20px;
  margin: 10px;
  margin-bottom: 30px;
}
