* {
  overflow-x: hidden;
}

.fullgridcontainer {
  margin: auto;
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "mn mn mn mn mn mn"
    "ft ft ft ft ft ft";
}

header {
  display: flex;
  align-items: center;
  grid-area: hd;
  background-color: white;
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  color: white;
  font-weight: bold;
}

.active {
  font-weight: bold;
}

main {
  grid-area: mn;
}

#main-article-block {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/Lebron-Nike-Together-Image.PNG");
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}

#main-article-text {
  width: 500px;
  height: 350px;
  background-color: white;
  position: relative;
  left: 50px;
  padding: 25px;
}

* {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}

footer {
  grid-area: ft;
  background-color: yellow;
  text-align: center;
  font-size: 30px;
}
