* {
  overflow: hidden;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  background: black;
}

.fullgridcontainer {
  margin: auto;
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "mn mn mn mn mn mn"
    "ft ft ft ft ft ft";
}

header {
  grid-area: hd;
  background-color: white;
  font-size: 25px;
  padding-bottom: 5px;
}

nav img {
  float: left;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  color: black;
  margin: 10px;
  padding: 5px 5px;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
  cursor: pointer;
}

nav a.active {
  font-weight: bold;
}

.navigation-bar-right {
  float: right;
}

#login {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  border: 2px solid black;
}

#search-logo {
  padding-left: 300px;
  right: 5px;
  width: 35px;
  height: 25px;
}

#search-logo:hover {
  border-radius: 25px;
  border: 2px solid black;
  border-spacing: 50px 50px;
}

main {
  grid-area: mn;
}

#main-article-block {
  background-image: url("C:/Users/ajimp/Documents/GitHub/Personnal-Blog-Website---NBA-Witnesses/Images/Lebron-Nike-Together-Image.PNG");
  background-size: cover;
  width: 1000px;
  height: 500px;
  position: relative;
}

#main-article-text {
  width: 500px;
  height: 350px;
  background-color: white;
  position: relative;
  left: 50px;
  padding: 25px;
}

* {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}

footer {
  grid-area: ft;
  background-color: yellow;
  text-align: center;
  font-size: 30px;
}
